@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
:root{
--primary-border:5px solid rgba(0, 0, 0, 0.336);
--primary-background:linear-gradient(#ff0000, #0018f3);
--secondary-background:linear-gradient(#0213ff, #ff000d);
--font:"Roboto";
--font-color:#fff;
}

body{
    background: var(--primary-background);
    font-family: var(--font), sans-serif, serif, cursive;
    color: var(--font-color);
}

h1{
    text-align: center;
    margin-top: 50px;
    cursor: grab;
    font-size: 35px;
}
/* Makes tooltip pop-up */
h1:hover::after{
    position: absolute;
    top: 100px;
    left: 50%;
    background-color: rgb(77, 77, 77);
    color: antiquewhite;
    content: "Click list items below to copy";
    width: 250px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 50%;
    font-size: 15px;
}

nav{
    display: flex;
    justify-content: flex-end;
    font-size: large;
}

a{
    padding: 10px;
    color: var(--font-color);
}
/* makes display flex */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    border: var(--primary-border);
    width: 25%;
    margin: 15px;
}

h2{
    font-size: 25px;
    text-align: center;
    border-bottom: var(--primary-border);
    padding-bottom: 10px;
    padding-top:10px;
}

/* allows text-highlights */
li{
    user-select: all;
    margin: 10px;
    list-style: none;
    font-size: 25;
}

footer{
    text-align: center;
    margin:50px
}
/* different display size settings */
/* tablet */
@media screen and (max-width: 992px){
    body{
        background:var(--secondary-background);
        font-family: var(--font), sans-serif, serif, cursive;
        color: var(--font-color);
    }
}
/* lrg phone */
@media screen and (max-width: 768px){
    body{
        background: var(--primary-background);
        font-family: var(--font), sans-serif, serif, cursive;
        color: var(--font-color);
    }
    .card{
        width:100%;
    }
}
