@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
:root{
--primary-border:5px solid rgba(0, 0, 0, 0.336);
--font:"Roboto"
}

body{
    background: linear-gradient(#aaafff, #fffaaa);
    font-family: var(--font), sans-serif, serif, cursive;
    color: rgb(144, 92, 240);
}

h1{
    text-align: center;
    margin-top: 50px;
    cursor: grab;
}
/* Makes tooltip pop-up */
h1:hover::after{
    position: absolute;
    top: 100px;
    left: 50%;
    background-color: rgb(77, 77, 77);
    color: antiquewhite;
    content: "Click list items below to copy";
    width: 250px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 50%;
    font-size: 15px;
}

nav{
    display: flex;
    justify-content: flex-end;
    font-size: large;
}

a{
    padding: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    border: var(--primary-border);
    width: 25%;
    margin: 15px;
}
/* allows text-highlights */
li{
    user-select: all;
    margin-bottom: 10px;
}
